
.root {
    -fx-background-color: linear-gradient(to right,#d81200, #3a0404);
}

#main-border {
	-fx-background-color: linear-gradient(to right,#d81200, #3a0404);
}

.button {
	-fx-background-color: #d8d197;
	-fx-font-color: #3a0404;
	-fx-font-size: 16px;
}
.button:hover {
	-fx-background-color: #ede4ce;
	-fx-font-color: #424035;
}
.button:pressed {
	-fx-background-color: #fcfaf4;
}
#Search {
	font-size: 15px;
}
.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}
.text-area .scroll-bar:horizontal .increment-arrow,
.text-area .scroll-bar:horizontal .decrement-arrow,
.text-area .scroll-bar:horizontal .increment-button,
.text-area .scroll-bar:horizontal .decrement-button {
	-fx-padding:0;
}


